build
eigen
pybind11
.python-version
.clangd
eigen-eigen-323c052e1731/
myfm.egg-info/
tmp
.eggs
*.pyc
*.so
.vscode
compile_commands.json
eigen3.zip
dist/
*-checkpoint.ipynb
doc/_build/*
eigen-3.3.7/
doc/source/_build

stubs/*

doc/source/api_reference/*.rst
