name: Test & Upload coverage
on: [push]
jobs:
  run_pytest_upload_coverage:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: "3.10"
      - name: Build myfm
        run: |
          pip install --upgrade pip
          pip install numpy scipy pandas
          sudo apt-get install lcov
          TEST_BUILD=true python setup.py develop
#      - name: mypy
#        run: |
#          pip install mypy
#          mypy src/lda11 --ignore-missing-imports
      - name: Run pytest
        run: |
          pip install pytest pytest-cov
          pytest --cov=./myfm tests/
      - name: Generate coverage (ubuntu)
        run: |
          coverage xml
          lcov -d `pwd` -c -o coverage.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml,./coverage.info
          verbose: false
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
